@media screen and (max-width: 768px){
  div{display: block;
  }
}

h1{
  margin-bottom: 20px; /* 下の余白を20pxに設定 */
    background-color: rgb(244, 79, 79); /* 背景色を指定 */
    text-align: center; 
    color: rgb(255, 255, 255); 
}

main {
  padding: 10px; 
}
#parent {
  display: flex; 
  justify-content: space-between; 
}
.contents {
  border: 3px solid rgb(238, 204, 204); 
  flex-basis: 25%; 
  padding: 10px 15px; 
  margin: 20px 0;
  text-align: center; 
}

h2 {
  font-size: 25px; 
  border-bottom: dotted 3px rgb(236, 122, 122); 
  position: relative; /
}





